* {
  /* margin: 0.1rem; */
  /* box-sizing: border-box; */
}
.barlow-semi-condensed-thin {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-semi-condensed-extralight {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-semi-condensed-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-semi-condensed-regular {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semi-condensed-bold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-semi-condensed-extrabold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-semi-condensed-black {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-semi-condensed-thin-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-semi-condensed-extralight-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-semi-condensed-light-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-semi-condensed-regular-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-semi-condensed-medium-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semi-condensed-semibold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-semi-condensed-extrabold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-semi-condensed-black-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.purple50 {
  background-color: hsl(260, 100%, 95%);
  color: black;
}
.purple300 {
  background-color: hsl(264, 82%, 80%);
  color: black;
}
.purple500 {
  background-color: hsl(263, 55%, 52%);
  color: white;
}
.white {
  background-color: hsl(0, 0%, 100%);
  color: black;
}
.grey100 {
  background-color: hsl(214, 17%, 92%);
  color: black;
}
.grey200 {
  background-color: hsl(0, 0%, 81%);
  color: black;
}
.grey400 {
  background-color: hsl(224, 10%, 45%);
  color: white;
}
.grey500 {
  background-color: hsl(217, 19%, 35%);
  color: white;
}
.darkblue {
  background-color: hsl(219, 29%, 14%);
  color: white;
}
.black {
  background-color: hsl(0, 0%, 7%);
  color: white;
}
body {
  font-size: 13px;
  font-family: "barlow semi condensed";
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}
blockquote {
  font-size: 2em;
  margin: 0;
  z-index: 2;
  position: relative;
}
h1 {
  font-size: 1.2em;
  z-index: 2;
  position: relative;
}
h2 {
  font-size: 0.8em;
  z-index: inherit;
  position: relative;
}
h2,
q {
  opacity: 0.6;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body div {
  /* padding: 2em; */
  border-radius: 0.5em;
}
.imgcontainer {
  object-fit: fill;
  width: fit-content;
  height: fit-content;
  /* border-radius: 50%; */
}
img {
  border-radius: 28px;
  object-fit: fill;
  /* z-index: 2; */
}
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  /* padding: auto; */
  /* z-index: 2; */
}
.title {
  flex-direction: column;
  /* z-index: 2; */
}
.grid-container {
  display: grid;
  /* margin: 1rem; */
  /* padding: 1rem; */
  gap: 1rem;
}
.Daniel {
  position: relative;
}
.Q {
  border-radius: 0%;
  position: absolute;
  right: 2rem;
  top: 0;
  object-position: 100%;
  z-index: 0;
}
.grid-container > div {
  padding: 2rem;
  flex: 1;
  /* min-width: 300px; */
  /* border-radius: 0.5rem; */
  box-shadow: 10px 10px 20px gray;
}
@media only screen and (min-width: 1601px) {
  .grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1600px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    /* gap: 1rem; */
    /* padding: 1rem; */
  }
  .Daniel {
    grid-column: span 2;
  }
  .Jeanette {
    grid-row: 2;
  }
  .Patrick {
    grid-column: span 2;
  }
  .Kira {
    grid-row: 1 / 3;
    grid-column-end: -1;
    /* grid-row: 0 / 2; */
    /* grid-row: span 2; */
  }
  .attribution {
    grid-row: -1;
  }
}
@media only screen and (max-width: 1350px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    /* gap: 1rem;
    padding: 1rem; */
    /*grid-template-areas: ;
   "Daniel Daniel Jonathan Kira" */
    /* "Jeanette Patrick Patrick Kira" */
  }
  /* .grid-container > div { */
  /* border-radius: 0.5rem; */
  /* padding: 2rem; */
  /* } */
  .Daniel {
    grid-column: 1 / span 2;
  }
  .Patrick {
    /* grid-column-end: -1; */
    /* grid-column: span 2; */
    /* background-color: black;
  color: white; */
  }
  .Kira {
    grid-row: 1 / 3;
  }
  .Jeanette {
    grid-column: 1;
    grid-row: 2;
  }
}

@media only screen and (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* .Jeanette {
      grid-column: span 2;
    } */
  .Jonathan {
    /* grid-column-end: -2; */
    grid-row: 3;
  }
  .Kira {
    grid-row: 2 / 4;
  }
  .Patrick {
    grid-column: span 2;
  }
  .attribution {
    grid-row: 6;
    grid-column: span 2;
  }
}
@media only screen and (max-width: 600px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}
