* {
  margin: 0;
  box-sizing: border-box;
}
.barlow-semi-condensed-thin {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-semi-condensed-extralight {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-semi-condensed-light {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-semi-condensed-regular {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-medium {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semi-condensed-semibold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-semi-condensed-bold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-semi-condensed-extrabold {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-semi-condensed-black {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-semi-condensed-thin-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-semi-condensed-extralight-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-semi-condensed-light-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-semi-condensed-regular-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-semi-condensed-medium-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semi-condensed-semibold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-semi-condensed-bold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-semi-condensed-extrabold-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-semi-condensed-black-italic {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto;
  gap: 0.5rem;
  padding: 0.5rem;
  /*grid-template-areas: ;
   "Daniel Daniel Jonathan Kira" */
  /* "Jeanette Patrick Patrick Kira" */
}
.grid-container > div {
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.Daniel {
  grid-column: 1 / span 2;
  background-color: violet;
}
.Patrick {
  grid-column-end: -1;
  grid-column: span 2;
  background-color: black;
  color: white;
}
.Kira {
  grid-column-end: -1;
  grid-row: span 2;
}
.Jeanette {
  grid-column: 1;
  grid-row: 2;
}
.Jonathan {
  background-color: gray;
}
@media only screen and (max-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .Jeanette {
    grid-column: span 2;
  }
  /*.Kira {
     grid-row: span 1; 
  }*/
}
@media only screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .Jeanette {
    grid-column: span 1;
  }
  .Jonathan {
    grid-column: 1;
  }
  .Kira {
    grid-row: 2 / span 2;
  }
}
@media only screen and (max-width: 400px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}
